body {
    font-family: "Times New Roman", Times, serif;
    /*background-color: #8900F2;
    background-image: url(../img/coding-background.jpg); */
    background-size: 100%;
}



.jumbotron {
    background-image: linear-gradient(to right, lightblue, rgb(0, 153, 255), darkblue);
    margin: 0;
}

.navbar {
    background-color: blue;
}

.site-footer {
    background-image: linear-gradient(#c8efff, white);
    padding: 20px 0; 
}
